version: "3.8"

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - db
  mysql:
    image: mysql
    environment:
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: mysql
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - db
  mariadb:
    image: mariadb
    environment:
      MARIADB_USER: user
      MARIADB_PASSWORD: password
      MARIADB_DATABASE: mariadb
      MARIADB_ROOT_PASSWORD: password
    volumes:
      - mariadb:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - db
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo:/data/db
    ports:
      - "27017:27017"
    networks:
      - db
  redis:
    image: bitnami/redis
    ports:
      - '6379:6379'
    environment:
      REDIS_PASSWORD: password
    volumes:
      - redis:/bitnami
    networks:
      - db
  memcached:
    image: bitnami/memcached
    ports:
      - '11211:11211'
    environment:
      MEMCACHED_CACHE_SIZE: 64
      MEMCACHED_MAX_CONNECTIONS: 1024
    volumes:
      - memcached:/bitnami
    networks:
      - db
  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.1
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms100m -Xmx100m
      - xpack.security.enabled=false
      - ELASTIC_PASSWORD=password
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
  redis_without_password:
    image: bitnami/redis
    ports:
      - '6380:6379'
    environment:
      ALLOW_EMPTY_PASSWORD: yes
    volumes:
      - redis:/bitnami
    networks:
      - db
networks:
  db:
    driver: bridge

volumes:
  postgres:
  mysql:
  mariadb:
  mongo:
  redis:
  elasticsearch:
  memcached: