[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = Test
L = Test
O = WhoDB-Test
CN = clickhouse

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = clickhouse
DNS.3 = e2e_clickhouse_ssl
DNS.4 = *.localhost
IP.1 = 127.0.0.1
DNS.5 = e2e_clickhouse_ssl
