*,
*::before,
*::after {
  -moz-animation: none !important;
  -moz-transition: none !important;
  -webkit-animation: none !important;
  -webkit-transition: none !important;
  animation: none !important;
  transition: none !important;
}
