@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #d1d1d1; /* Light gray color */
  border-radius: 12px; /* Rounded corners */
  border: 1px solid #f5f5f5; /* Lighter border color */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); /* Inner shadow effect */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0; /* Darker gray color on hover */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f9f9f9; /* Track color */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); /* Inner shadow effect */
}

.dark ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2; /* Darker track color on hover */
}

.dark ::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.dark .react-flow__controls-button {
  background-color: rgb(255 255 255 / 0.1);
  border-color:  rgb(255 255 255 / 0.1);
  fill: white;
}

.dark .react-flow__controls-button:hover {
  background-color: rgb(255 255 255 / 0.2);
  border-color:  rgb(255 255 255 / 0.2);
}

.markdown-preview > * {
  all: revert;
}