name: Build CLI Docker Images

on:
  workflow_call:
    inputs:
      version:
        description: 'Version to build'
        required: true
        type: string
    outputs:
      amd64-artifact:
        description: 'AMD64 Docker artifact name'
        value: docker-cli-image-amd64
      arm64-artifact:
        description: 'ARM64 Docker artifact name'
        value: docker-cli-image-arm64

permissions:
  contents: read
  actions: write

jobs:
  build-docker-cli:
    name: Build CLI Docker (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    environment: permission-required
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            platform: linux/amd64
            arch: amd64
          - runner: ubuntu-24.04-arm
            platform: linux/arm64
            arch: arm64
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            dl-cdn.alpinelinux.org:443
            github.com:443
            objects.githubusercontent.com:443
            production.cloudflare.docker.com:443
            proxy.golang.org:443
            registry-1.docker.io:443
            release-assets.githubusercontent.com:443
            storage.googleapis.com:443
            sum.golang.org:443

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build CLI Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: ./cli/Dockerfile
          platforms: ${{ matrix.platform }}
          push: false
          tags: clidey/whodb-cli:${{ inputs.version }}-${{ matrix.arch }}
          outputs: type=docker,dest=/tmp/whodb-cli-docker-${{ matrix.arch }}.tar
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ inputs.version }}

      - name: Upload Docker artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docker-cli-image-${{ matrix.arch }}
          path: /tmp/whodb-cli-docker-${{ matrix.arch }}.tar
          retention-days: 1
