name: Build CLI Docker Images

on:
  workflow_call:
    inputs:
      version:
        description: 'Version to build'
        required: true
        type: string
    outputs:
      amd64-artifact:
        description: 'AMD64 Docker artifact name'
        value: docker-cli-image-amd64
      arm64-artifact:
        description: 'ARM64 Docker artifact name'
        value: docker-cli-image-arm64

permissions:
  contents: read
  actions: write

jobs:
  build-docker-cli:
    name: Build CLI Docker (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    environment: permission-required
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            platform: linux/amd64
            arch: amd64
          - runner: ubuntu-24.04-arm
            platform: linux/arm64
            arch: arm64
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            dl-cdn.alpinelinux.org:443
            github.com:443
            objects.githubusercontent.com:443
            production.cloudflare.docker.com:443
            proxy.golang.org:443
            registry-1.docker.io:443
            release-assets.githubusercontent.com:443
            storage.googleapis.com:443
            sum.golang.org:443

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build CLI Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./cli/Dockerfile
          platforms: ${{ matrix.platform }}
          push: false
          tags: clidey/whodb-cli:${{ inputs.version }}-${{ matrix.arch }}
          outputs: type=docker,dest=/tmp/whodb-cli-docker-${{ matrix.arch }}.tar
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ inputs.version }}

      - name: Upload Docker artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: docker-cli-image-${{ matrix.arch }}
          path: /tmp/whodb-cli-docker-${{ matrix.arch }}.tar
          retention-days: 1
